.subscriptions-page {
  margin: 0 10%;
}

.subscription-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subscription-card {
  padding: 10px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  text-align: left;
  width: 500px;
}

.subscription-img {
  display: flex;
  justify-content: center;
  height: 100px;
}

.subscription-details {
  margin-bottom: 10px;
}

.subscription-btn {
  padding: 12px 24px; /* Adjust padding for button size */
  background-color: #002fff; /* Blue background */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Consistent font size */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.subscription-btn:hover {
  cursor: pointer;
  background-color: #0056b3; /* Darker blue on hover */
}